@media (max-width: 63.9375em) {
    .btn {
        padding: 14px 15px;
    }
    .contact-form .form-control {
        padding: 15px;
        font-size: 16px;
    }
    #footer .socials-list {
        font-size: 48px;
    }
    #footer .socials-list a {
        margin-left: 0 8px;
    }
    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }
    #nav li a {
        padding: 0px 12px;
    }
    .contact-info {
        font-size: 18px;
        line-height: 2;
    }
    .contact-submit {
        font-size: 16px;
    }
}

@media (max-width: 64em) and (min-width:46.25em){
    
    
}

@media (max-width: 46.1875em) {
    .s-full-width,
    .s-col-full {
        width: 100%;
    }
    .s-mt-8 {
        margin-top: 8px !important;
    }
    #header {
        overflow: hidden;
    }
    #header .search-btn {
        display: none;
    }
    #header .menu-mobile-btn {
        display: block;
    }
    #nav {
        display: block;
    }
    #nav li {
        display: block;
    }
    #nav li a {
        padding: 1px 24px;
    }
    #nav li:first-child {
        display: inline;
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav a {
        color:white;
        padding: 5px 41px;
    }
    #content .member-img { 
        width: 60%;
    }
    
    .contact-form {
        margin-top: 16px;
    }

}